<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href = "css/style.css" rel = "stylesheet">
        <title> MercadoLiebre </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="cuerpo">
        <header class="header"> 
        <div class="logoybarra" > 
           <img width= "150px" height = "150px"  src = "imagenes/logocolor.png" alt = "logo" class="logo"> 
          <br>
          <div class="barra" > 
            <label>buscar:</label>
          <input/> 
          <button> search </button>
          </div>
        
          <label> <h3  class="compraa"> <i class="fa-sharp fa-solid fa-handshake chico" style="color: #0959e1;"></i> Comprá en cuotas y sin tarjeta de crédito </h3> </label>
          </div>
          <br>
           
           <ul class="titulares">
            <div class="titularuno"> 
                <li>Ofertas </li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </div>
                <br>
            <div class="titulardos">
                <button> <a href="register"> <li>Creá tu cuenta <i class="fa-sharp fa-solid fa-circle-user chico" style="color: #291bee;"></i> </li> </a> </button>
                <br>
                <button> <a href="login"> <li>Ingresá <i class="fa-sharp fa-solid fa-arrow-right chico" style="color: #0d61f2;"></i> </li> </a> </button>
                <li>Mis compras <i class="fa-sharp fa-solid fa-bag-shopping chico" style="color: #0d5de7;"></i> </li>
            </div>
           </ul>
           <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
           <div class="awa"> . </div>
        </header>
        
       <main class="main" align="center">
        <div > <img src = "imagenes/banner.jpg" alt = "logo" class="banner" > </div>
        
<div class="losarticulos">
    <p class="basado"> Basado en tu última visita </p>
       <div class="cuadrado">  
        <br>
        <div class="contenedorhijo>"> 

         <div class="cajita2">  <img width= "150px" height = "150px"  src = "imagenes/img-cafetera-moulinex.jpg" alt = "producto"> 
        <br>
        <br>
        </div>
        <div class="cajita">
        <div class="caja" align="center"> <div class="animacion">  <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
        <div class="descripciones"> <div class="desc">  <p>      Cafetera Owl premiun    </p> </div>
         <div class="probadita">
        <p class="precios">20.000$</p>
        <p class="descuentos"> 0% de descuento</p> </div>  
        <button class="boton"> comprar </button> </div> </div> </div>
        <br>
    </div>
    <br>
    <div class="contenedorhijo>"> 

        <div class="cajita2">
        <img width= "150px" height = "150px"  src = "imagenes/kakashi.jpg" alt = "producto">
        <br>
        <br>
    </div>
    <div class="cajita">
        <div class="caja" align="center"> <div class="animacion">  <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
        <div class="descripciones"> <div class="desc"> <p>    Funko Pop de Kakashi    </p> </div>
        <div class="probadita"> 
        <p class="precios">5.000$</p>
        <p class="descuentos"> 0% de descuento</p> </div> 
        <button class="boton"> comprar </button> </div> </div> </div>
    </div>
        <br> 
    <div class="contenedorhijo>">

        <div class="cajita2">
        <img width= "150px" height = "150px"  src = "imagenes/duende.jpg" alt = "producto">
        <br>
        <br>
    </div>
    <div class="cajita"> 
        <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
           <div class="descripciones"> <div class="desc">  <p >    Disfraz de duende navideño para perro    </p> </div>
            <div class="probadita"> 
            <p class="precios">5.000$</p>
            <p class="descuentos"> 0% de descuento</p> </div> 
            <button class="boton"> comprar </button> </div> </div> </div>
    </div>
    <div class="contenedorhijo>">

        <div class="cajita2"> 
        <img width= "150px" height = "150px"  src = "imagenes/brighton.jpg" alt = "producto">
        <br>
        <br>
    </div>
    <div class="cajita"> 
        <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
           <div class="descripciones"> <div class="desc">  <p>    Camiseta del brighton 22/23   </p> </div>
            <div class="probadita"> 
            <p class="precios">8.000$</p>
            <p class="descuentos"> 0% de descuento</p> </div> 
            <button class="boton"> comprar </button> </div> </div> </div>
</div>

    </div>
      
        <br>
        <br>
        <p class="basado"> Ofertas jugosas </p>
        <div class="cuadrado">
        <div class="contenedorhijo>"> 
        <div class="cajita2">
        <img width= "150px" height = "150px"  src = "https://i.ibb.co/YbSyGfg/compu-gaimer.jpg" alt = "producto">
        <br>
        <br>
        </div>
        <div class="cajita"> 
        <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
       <div class="descripciones"> <div class="desc">  <p> PC + Mouse/teclado con led + Monitor </p> </div>
        <div class="probadita"> 
        <p class="precios"> 278.000$</p>
        <p class="descuentos"> 35% de descuento</p> </div>  
        <button class="boton"> comprar </button> </div> </div> </div>
        <br>
    </div>
    <br>
    <div class="contenedorhijo>"> 

        <div class="cajita2"> 
        <img width= "150px" height = "150px"  src = "imagenes/tostadora.jpg" alt = "producto">
        <br>
        <br>
    </div>
    <div class="cajita"> 
        <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
       <div class="descripciones"> <div class="desc">  <p> Tostadora premiun </p> </div>
        <div class="probadita"> 
        <p class="precios"> 8.000$</p>
        <p class="descuentos"> 50% de descuento</p> </div> 
        <button class="boton"> comprar </button> </div> </div> </div> 
    
        <br>
    
</div>
        <br>
        <div class="contenedorhijo>"> 

        <div class="cajita2"> 
            <img width= "150px" height = "150px"  src = "imagenes/switch.jpg" alt = "producto">
            <br>
            <br>
        </div>
        <div class="cajita"> 
            <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
            <div class="descripciones"> <div class="desc">  <p> Nintendo Switch </p> </div>
            <div class="probadita"> 
            <p class="precios"> 220.000$</p>
            <p class="descuentos"> 25% de descuento</p> </div>  
            <button class="boton"> comprar </button> </div> </div> </div>
            <br>
        </div>
        <br>
        <div class="contenedorhijo>"> 

            <div class="cajita2"> 
            <img width= "150px" height = "150px"  src = "imagenes/licuadora.jpg" alt = "producto">
            <br>
            <br>
        </div>
        <div class="cajita"> 
            <div class="caja" align="center"> <div class="animacion"> <i class="fa-sharp fa-solid fa-truck-fast chico" style="color: #63f415;"></i> </div>
            <div class="descripciones"> <div class="desc"> <p> Licuadora simple </p> </div>
            <div class="probadita"> 
            <p class="precios"> 10.000$</p>
            <p class="descuentos"> 10% de descuento</p> </div> 
            <button class="boton"> comprar </button> </div> </div> </div>
          </div>
    </div>
</div>
        <br>
        <br>
        <br>
       </main>

       <footer class="footer" align="center">
        <div class="footer2">
        <br>
        <div class="footer3"> 
        <i class="fa-sharp fa-solid fa-cart-shopping carrito" style="color: #39b54a;"></i>
        <h2> Pagá con tarjeta o efectivo</h2>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    </div>
        <br>
       <div class="footer3"> 
       <i class="fa-sharp fa-solid fa-truck-fast carrito" style="color: #39b54a;"></i>
        <h2> Envío gratis desde $ 2.500</h2>
        <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
        <br>
        <div class="footer3">
        <i class="fa-sharp fa-solid fa-user-secret carrito" style="color: #39b54a;"></i>
        <h2> Seguridad, de principio a fin</h2>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
    </div>
   </div>
   <br>
        <p class="copy" align="left">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
       </footer>
    </body>
</html>